Здравствуйте, {имя}!  
Вас пригласили в систему.  Ваши данные для входа:  
Email: {email}  Пароль: {password}  

<p>Здравствуйте, {{ name }}!</p>
<p>Вас пригласили в систему.  Ваши данные для входа:</p>
<p>Email: {{ email }}  Пароль: {{ password }}  </p>