<html>
    <body>
        <h1>Hello, {{name}}</h1>
        <p>You have received a request to reset the password for your account
            {{email}}.</p>
        <p><a href='{{link}}' style='color: #1a73e8;'>Reset your password</a></p>
        <p>This link will expire in {{expiresIn}} minutes.</p>
    </body>
</html>