<html>
    <body>
        <h1>Welcome, {{name}}!</h1>
        <p>You have been invited to the system by
            {{creator}}. Your login details:</p>
        <p>Email: {{email}} Password: {{password}}</p>
    </body>
</html>