<html>
    <body>
        <h1>Здравствуйте, {{name}}!</h1>
        <p>Вы были приглашены в систему {{creator}}. Ваши данные для входа:</p>
        <p>Email: {{email}} Пароль: {{password}}</p>
    </body>
</html>